<!doctype html>
<html>

<head>
    <meta charset="UTF-8">

    <title> Report Card</title>
</head>

<body>
<div id="forSchoolNameAndLogo" class="header" style=" margin: 10px 50px;display: flex;justify-content: space-around;">
    <img id="logo" alt="School logo" style=" float: left;width: 450px;height: auto;"/>
</div>
<hr id="Header-line">
<div>
    <h3 id="Heading">report card tittle</h3>
</div>
<table style="width: 950px">
    <tbody>
    <tr>
        <th style="text-align: left; width: 300px;"><p>Name:<span id="nameOfStudent">student Name</span></p></th>
        <th  id="Attendance-Header" style="width: 300px"><p>Attendance:<span id="attendance"></span></p></th>
        <th style="text-align: right;width: 300px"><p>Class:<span id="Class"></span></p></th>

    </tr>
    </tbody>
</table>

<div class="term-table">
    <table cellpadding="1" id="markstable" class="term-table" style="width: 950px; text-align: center; border: 1px solid black">
        <tr  id="ExamRow">
            <th rowspan="2" class="firstcolumnstyle" style="border: 1px solid black;text-align: left">SUBJECT</th>
        </tr>

    </table>
</div>
<div class="valuesTable">
    <table cellpadding="1" class="valuesTable"
           style="width: 950px;margin-top: 10px;border: 1px solid black;text-align: center;border-collapse: collapse;">
        <tbody>

        </tbody>

    </table>

</div>
<div id="ForAttributesTable"> </div>

<div id="remarks-block"
     style="width: 950px ;display: block; border: 1px solid black;border-top: 0px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 0px; margin-bottom: 10px">
    <h5 id="remark-header"
        style=" margin-top: 10px; margin-bottom: 5px; text-align: center;">
        CLASS TEACHERS REMARKS
    </h5>
    <p id="remarks" style="margin-top: 0px; padding-left: 3px;"><br></p>
</div>

<div style="margin-top: 55px;margin-bottom: 0x;">
    <table style="width: 950px; ">
        <tbody>
        <tr>
            <th><p style="padding-top: 10px;padding-left:10px; padding-right:10px; border-top:1px solid black; width: 100px;  ">Principal</p></th>
            <th><p style="padding-top: 10px;padding-left:10px; padding-right:10px; border-top:1px solid black;width: 100px;margin-left: 100px;" >Class Teacher</p></th>
            <th><p  style="padding-top: 10px;padding-left:10px; padding-right:10px; border-top:1px solid black;width: 100px;margin-left: 100px;" >Parent</p></th>
        </tr>
        </tbody>
    </table>
</div>

<div class="GradingScaleTable" style="margin-top: 0px; ">
    <table id="GradingScaleTable" cellpadding="1" style="margin-top: 0px; width: 950px; text-align:center;">
        <tr >
            <th  id="grading-sacle-heading">GRADING SCALE</th>
        </tr>
        <tr>
            <th style="border:1px solid black;">Grade</th>
            <th style="border:1px solid black;">Range of Marks</th>

        </tr>

    </table>
</div>
<div id="abbrevations">
    <b>
    </b>

</div>

<script >
    var report ={{report}};

    if(report.showHeader===true){
        document.getElementById("logo").setAttribute("src", report.logoLink);
    }else{
        document.getElementById("logo").setAttribute("src", report.logoLink);
        document.getElementById("forSchoolNameAndLogo").style.visibility = "hidden";
        document.getElementById("Header-line").style.visibility = "hidden";
    }
    document.getElementById("Heading").innerHTML = report.title;
    document.getElementById("Heading").style.textAlign = "center";
    document.getElementById("nameOfStudent").textContent = report.studentName + " " +"(" + report.admissionId + ")";
    document.getElementById("Class").textContent = report.standard;
    if(report.attendance){
        document.getElementById("attendance").textContent = report.attendance;
    }
    else{
        document.getElementById("Attendance-Header").style.display = "none";
    }


    (function creatingScholasticTable() {
        if(report.scholastic){
            // Creating and Adding Header
            var showExamNames= false;
            for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                if(report.scholastic.scholasticDetails.examDetails[i].examName){
                    var newTh = document.createElement("th");
                    var connectingHeader = document.getElementsByClassName("term-table")[1].getElementsByTagName("tr")[0];
                    connectingHeader.appendChild(newTh);
                    newTh.innerHTML= report.scholastic.scholasticDetails.examDetails[i].examName;
                    newTh.setAttribute("colspan", (Object.keys(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length));
                    newTh.style.border = "1px solid black";
                    showExamNames = true;
                    document.getElementsByClassName("firstcolumnstyle")[0].setAttribute("rowspan", 3);
                }


            }
            //for creating "Overall" Header
            if(showExamNames === true){
                var forCheckingOverall = Object.keys(report.scholastic.scholasticDetails);
                if(report.scholastic.scholasticDetails.overall){
                    var newTh = document.createElement("th");
                    var connectingHeader = document.getElementsByClassName("term-table")[1].getElementsByTagName("tr")[0];
                    connectingHeader.appendChild(newTh);
                    newTh.innerHTML= "Overall";
                    newTh.style.border = "1px solid black";
                    newTh.setAttribute("colspan", 1 );
                    newTh.setAttribute("rowspan", 2);
                    if((report.scholastic.scholasticDetails.overall.showMarks) === true &&
                        (report.scholastic.scholasticDetails.overall.showGrade) === true ){
                        newTh.setAttribute("colspan", 2 );
                    }
                    else{
                        newTh.setAttribute("colspan", 1 );
                    }

                }
            }


            // Creating and Adding sub Header
            if(showExamNames===true){
                var newTr = document.createElement("tr");
                var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
                connectingRow.appendChild(newTr);
                for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                    var x = (Object.keys(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length);
                    var y=1;
                    for(var j=0; j<(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length; j++){
                        var newTh = document.createElement('th');
                        newTr.appendChild(newTh);
                        newTh.className = "term-table";
                        newTh.innerHTML= report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].shortForm ;
                        newTh.style.border = "1px solid black";
                        // Adding colspan for SubHeader
                        if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showGrade) === true &&
                            (report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showMarks) === true ){
                            newTh.setAttribute("colspan", 2 );
                            // manuplating colspan for Header
                            document.getElementById("ExamRow").getElementsByTagName("th")[i+1].setAttribute("colspan", x+y);
                            y++
                        }
                        else{
                            newTh.setAttribute("colspan", 1 );
                        }
                    }
                }
            }
            if(showExamNames===false){
                for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                    for(var j=0; j<(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length; j++){
                        var newTh = document.createElement('th');
                        var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tr")[0];
                        connectingRow.appendChild(newTh);
                        newTh.className = "term-table";
                        newTh.innerHTML= report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].shortForm ;
                        newTh.style.border = "1px solid black";
                        // Adding colspan for SubHeader
                        if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showGrade) === true &&
                            (report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showMarks) === true ){
                            newTh.setAttribute("colspan", 2 );
                        }
                        else{
                            newTh.setAttribute("colspan", 1 );
                        }
                    }
                }
            }
            if(showExamNames===false){
                var forCheckingOverall = Object.keys(report.scholastic.scholasticDetails);
                if(showExamNames === false){
                    if(report.scholastic.scholasticDetails.overall){
                        var newTh = document.createElement("th");
                        connectingRow.appendChild(newTh);
                        newTh.innerHTML= "Overall";
                        newTh.style.border = "1px solid black";
                        newTh.setAttribute("colspan", 1 );

                        newTh.setAttribute("rowspan", 1);
                        if((report.scholastic.scholasticDetails.overall.showMarks) === true &&
                            (report.scholastic.scholasticDetails.overall.showGrade) === true ){
                            newTh.setAttribute("colspan", 2 );
                        }
                        else{
                            newTh.setAttribute("colspan", 1 );
                        }

                    }

                }
            }


            // Displaying "Marks" and "Grades" in Scholastic Area
            var newTr = document.createElement("tr");
            var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
            connectingRow.appendChild(newTr);

            for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                for(var j=0; j<(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length; j++){
                    if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showMarks) === true){
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        newTd.textContent = "Marks";
                        newTd.style.border = "1px solid black";
                    }
                    if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showGrade) === true){
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        newTd.textContent = "Grade";
                        newTd.style.border = "1px solid black";
                    }
                }
            }

            // Displaying "marks" and "Grades in OverAll"
            if(report.scholastic.scholasticDetails.overall){
                if((report.scholastic.scholasticDetails.overall.showMarks) === true ){
                    var newTd = document.createElement("td");
                    newTr.appendChild(newTd);
                    newTd.textContent = "Marks";
                    newTd.style.border = "1px solid black";
                }
                if((report.scholastic.scholasticDetails.overall.showGrade) === true ){
                    var newTd = document.createElement("td");
                    newTr.appendChild(newTd);
                    newTd.textContent = "Grade";
                    newTd.style.border = "1px solid black";
                }

            }
            // displaying data for Scholastic Area
            for(var k=0; k<report.scholastic.subjectsArray.length; k++){
                var newTr = document.createElement("tr");
                var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
                connectingRow.appendChild(newTr);
                var newTh = document.createElement("th");
                newTr.appendChild(newTh);
                newTh.innerHTML = report.scholastic.subjectsArray[k];
                newTh.style.border = "1px solid black";
                newTh.style.textAlign = "left";
                for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                    for(var j=0; j<(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length; j++){
                        if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showMarks) === true){
                            var newTd = document.createElement("td");
                            newTr.appendChild(newTd);
                            if(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].marks[report.scholastic.subjectsArray[k]]){
                                newTd.textContent = report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].marks[report.scholastic.subjectsArray[k]];
                                newTd.style.border = "1px solid black";
                            }
                            else{
                                newTd.textContent = "N/A";
                                newTd.style.border = "1px solid black";
                                newTd.style.color = "red";
                            }
                        }
                        if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showGrade) === true){
                            var newTd = document.createElement("td");
                            newTr.appendChild(newTd);
                            if(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].grade[report.scholastic.subjectsArray[k]]){
                                newTd.textContent = report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].grade[report.scholastic.subjectsArray[k]];
                                newTd.style.border = "1px solid black";
                            }
                            else{
                                newTd.textContent = "N/A";
                                newTd.style.border = "1px solid black";
                                newTd.style.color = "red";
                            }
                            if(report.colorForGrades){
                                newTd.style.backgroundColor = report.colorForGrades[report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].grade[report.scholastic.subjectsArray[k]]];
                            }
                        }
                    }
                }
                // Displaying data in overall
                if(report.scholastic.scholasticDetails.overall){
                    if((report.scholastic.scholasticDetails.overall.showMarks) === true ){
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        if(report.scholastic.scholasticDetails.overall.marks[report.scholastic.subjectsArray[k]]){
                            newTd.textContent = report.scholastic.scholasticDetails.overall.marks[report.scholastic.subjectsArray[k]];
                            newTd.style.border = "1px solid black";
                        }
                        else{
                            newTd.textContent = "N/A";
                            newTd.style.border = "1px solid black";
                            newTd.style.color = "red";
                        }
                    }
                    if((report.scholastic.scholasticDetails.overall.showGrade) === true ){
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        if(report.scholastic.scholasticDetails.overall.grade[report.scholastic.subjectsArray[k]]){
                            newTd.textContent = report.scholastic.scholasticDetails.overall.grade[report.scholastic.subjectsArray[k]];
                            newTd.style.border = "1px solid black";
                        }
                        else{
                            newTd.textContent = "N/A";
                            newTd.style.border = "1px solid black";
                            newTd.style.color = "red";
                        }
                        for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                            for(var j=0; j<(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length; j++){
                                if(report.colorForGrades){
                                    newTd.style.backgroundColor = report.colorForGrades[report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].grade[report.scholastic.subjectsArray[k]]];
                                }
                            }
                        }
                    }
                }
            }

            if(report.scholastic){
                if(report.scholastic.scholasticDetails.overall){
                    if(((report.scholastic.scholasticDetails.overall.showMarks) === true )
                        &&((report.scholastic.scholasticDetails.overall.showGrade) === true )=== true){
                        var newTr = document.createElement("tr");
                        var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
                        connectingRow.appendChild(newTr);
                        var newTh = document.createElement("th");
                        newTr.appendChild(newTh);
                        newTh.textContent = "Overall Marks: "+ report.scholastic.scholasticDetails.overall.overAllMarks;
                        newTh.setAttribute("colspan", document.getElementById('markstable').rows[3].cells.length/2);

                        var newTh = document.createElement("th");
                        newTr.appendChild(newTh);
                        newTh.textContent = "Overall Grade: "+ report.scholastic.scholasticDetails.overall.overAllGrade;
                        newTh.setAttribute("colspan", document.getElementById('markstable').rows[3].cells.length/2);

                    }
                    else{
                        if((report.scholastic.scholasticDetails.overall.showMarks) === true ){
                            var newTr = document.createElement("tr");
                            var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
                            connectingRow.appendChild(newTr);
                            var newTh = document.createElement("th");
                            newTr.appendChild(newTh);
                            newTh.textContent = "Overall Marks: "+ report.scholastic.scholasticDetails.overall.overAllMarks;
                            newTh.setAttribute("colspan", document.getElementById('markstable').rows[report.scholastic.subjectsArray.length].cells.length);
                        }
                        if((report.scholastic.scholasticDetails.overall.showGrade) === true ){
                            var newTr = document.createElement("tr");
                            var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
                            connectingRow.appendChild(newTr);
                            var newTh = document.createElement("th");
                            newTr.appendChild(newTh);
                            newTh.textContent = "Overall Grade: "+ report.scholastic.scholasticDetails.overall.overAllGrade;
                            newTh.setAttribute("colspan", document.getElementById('markstable').rows[report.scholastic.subjectsArray.length].cells.length);
                        }
                    }
                }
            }


            // creating Header saying "Scholastic Area"
            var newTr = document.createElement("tr");
            var addingTrBefore = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
            addingTrBefore.insertBefore(newTr, addingTrBefore.getElementsByTagName("tr")[0]);
            var newTh = document.createElement("th");
            newTr.appendChild(newTh);
            newTh.textContent = "Scholastic";
            newTh.style.color = "white";
            newTh.style.backgroundColor = report.schoolPrimaryColor;
            newTh.setAttribute("colspan", document.getElementById('markstable').rows[report.scholastic.subjectsArray.length].cells.length);
        }
        else{
            document.getElementById("markstable").style.display = "none";
        }
    })();



    // creating Non Scholastic table

    (function forNonScholastic(){
        if(report.nonScholastic){
            var nsTable = Object.keys(report.nonScholastic);
            var newTr = document.createElement("tr");
            var connectingRow = document.getElementsByClassName("valuesTable")[1].getElementsByTagName("tbody")[0];
            connectingRow.appendChild(newTr);
            var newTh = document.createElement("th");
            newTr.appendChild(newTh);
            newTh.textContent = "Subjects";
            newTh.style.border = "1px solid black";
            newTh.style.textAlign = "left";
            newTh.style.width = "450px"
            for(var i=0; i<report.nonScholastic.nonScholasticDetails.length; i++){
                var newTh = document.createElement("th");
                newTr.appendChild(newTh);
                newTh.textContent = report.nonScholastic.nonScholasticDetails[i].columnName;
                newTh.style.border = "1px solid black";
            }
            for(var i=0; i<report.nonScholastic.subjectsArray.length; i++){
                var newTr = document.createElement("tr");
                var connectingRow = document.getElementsByClassName("valuesTable")[1].getElementsByTagName("tbody")[0];
                connectingRow.appendChild(newTr);
                var newTd = document.createElement("td");
                newTr.appendChild(newTd);
                newTd.textContent = report.nonScholastic.subjectsArray[i];
                newTd.style.border = "1px solid black";
                newTd.style.textAlign = "left";
                newTd.style.width = "450px"
                for(var j=0; j<report.nonScholastic.nonScholasticDetails.length;j++){
                    var newTd = document.createElement("td");
                    newTr.appendChild(newTd);
                    if(report.nonScholastic.nonScholasticDetails[j].values[report.nonScholastic.subjectsArray[i]]){
                        newTd.textContent = report.nonScholastic.nonScholasticDetails[j].values[report.nonScholastic.subjectsArray[i]];
                        newTd.style.backgroundColor = report.colorForGrades[ report.nonScholastic.nonScholasticDetails[j].values[report.nonScholastic.subjectsArray[i]]]; //adding color for grades
                        newTd.style.border = "1px solid black";
                    }
                    else{
                        newTd.textContent = "N/A";
                        newTd.style.border = "1px solid black";
                        newTd.style.color = "red";
                    }
                }
            }
            var newTr = document.createElement("tr");
            var connectingHeadingRow = document.getElementsByClassName("valuesTable")[1].getElementsByTagName("tbody")[0];
            connectingHeadingRow.insertBefore(newTr, connectingHeadingRow.getElementsByTagName("tr")[0]);
            var newTh = document.createElement("th");
            newTr.appendChild(newTh);
            newTh.textContent = "Non Scholastic";
            newTh.style.color = "white";
            newTh.style.backgroundColor = report.schoolPrimaryColor;
            newTh.setAttribute("colspan", document.getElementsByClassName('valuesTable')[1].rows[1].cells.length);
        }
    })();


    // creating Attributes table
    (function creatingAttributesTable(){
        if(report.attributes){
            for(var i=0; i<report.attributes.length; i++){
                var newTable = document.createElement("table");
                var addingTable = document.getElementById("ForAttributesTable");
                addingTable.appendChild(newTable);
                newTable.style.width = "950px";
                newTable.style.border = "1px solid black";
                newTable.style.borderCollapse = "collapse";
                newTable.style.textAlign = "center";
                newTable.style.marginTop = "10px";
                var newTableBody = document.createElement("tbody");
                newTable.appendChild(newTableBody);
                var newTr = document.createElement("tr");
                newTableBody.appendChild(newTr);
                var newTh = document.createElement("th");
                newTr.appendChild(newTh);
                newTh.textContent = report.attributes[i].titleName;
                newTh.style.borderCollapse = "collapse";
                newTh.style.border = "1px solid black";
                newTh.style.textAlign = "left";
                newTh.style.width = "450px";
                var attributeDetailsNull = true;
                if(report.attributes[i].attributeDetails){
                    for(var j =0; j<report.attributes[i].attributeDetails.length; j++){
                        var newTh = document.createElement("th");
                        newTr.appendChild(newTh);
                        newTh.textContent = report.attributes[i].attributeDetails[j].columnName;
                        newTh.style.borderCollapse = "collapse";
                        newTh.style.border = "1px solid black";
                        attributeDetailsNull = false;
                    }
                }


// crearing body of the table

                for(var j=0; j<report.attributes[i].fieldArray.length; j++){
                    var newTr = document.createElement("tr");
                    var addingRow = document.getElementById("ForAttributesTable").getElementsByTagName("tbody")[i];
                    addingRow.appendChild(newTr);
                    newTr.style.height = "18px";
// checking for th or td
                    var showAsHeader = false;
                    for(var k=0; k<report.attributes[i].boldColumnsArray.length; k++){
                        if(report.attributes[i].fieldArray[j]===report.attributes[i].boldColumnsArray[k]){
                            showAsHeader = true;
                        }
                    }
                    if(showAsHeader){
                        var newTh = document.createElement("th");
                        newTr.appendChild(newTh);
                        newTh.textContent = report.attributes[i].fieldArray[j];
                        newTh.style.borderCollapse = "collapse";
                        newTh.style.border = "1px solid black";
                        newTh.style.textAlign = "left";
                        for(var m=0; m<report.attributes[i].attributeDetails.length; m++){
                            var newTh = document.createElement("th");
                            newTr.appendChild(newTh);
                            if(report.attributes[i].attributeDetails[m].values[report.attributes[i].fieldArray[j]] !== undefined){
                                newTh.textContent = report.attributes[i].attributeDetails[m].values[report.attributes[i].fieldArray[j]];
                                newTh.style.borderCollapse = "collapse";
                                newTh.style.border = "1px solid black";
                            }
                            else{
                                newTh.textContent = " ";
                                newTh.style.borderCollapse = "collapse";
                                newTh.style.border = "1px solid black";
                                newTh.style.color = "red";
                            }
                        }
                    }
                    else{
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        newTd.textContent = report.attributes[i].fieldArray[j];
                        newTd.style.borderCollapse = "collapse";
                        newTd.style.border = "1px solid black";
                        newTd.style.textAlign = "left";
                        if(attributeDetailsNull === false){
                            for(var m=0; m<report.attributes[i].attributeDetails.length; m++){
                                var newTd = document.createElement("td");
                                newTr.appendChild(newTd);
                                if(report.attributes[i].attributeDetails[m].values[report.attributes[i].fieldArray[j]] !== undefined){
                                    newTd.textContent = report.attributes[i].attributeDetails[m].values[report.attributes[i].fieldArray[j]];
                                    newTd.style.borderCollapse = "collapse";
                                    newTd.style.border = "1px solid black";
                                }
                                else{
                                    newTd.textContent = " ";
                                    newTd.style.borderCollapse = "collapse";
                                    newTd.style.border = "1px solid black";
                                    newTd.style.color = "red";
                                }
                            }
                        }
                    }
                }
            }
        }
    })();


    // remarks
    if(report.remarks){
        document.getElementById("remarks").textContent = report.remarks;
        document.getElementById("remark-header").style.backgroundColor = report.schoolPrimaryColor;
        document.getElementById("remark-header").style.color = "white";
    }
    else{
        document.getElementById("remarks-block").style.display = "none";
    }

    // grade table
    (function definingGradeTable(){
        if(report.definingGrade){
            document.getElementById("grading-sacle-heading").style.backgroundColor = report.schoolPrimaryColor;
            document.getElementById("grading-sacle-heading").style.color = "white";
            var storingGrades = Object.keys(report.definingGrade);
            var t = Math.ceil(storingGrades.length / 4);  //roundfigure value
            for (var x = 0; x < 4; x++) {
                var newTr = document.createElement("tr");
                var addingRow = document.getElementById("GradingScaleTable").getElementsByTagName("tbody")[0];
                addingRow.appendChild(newTr);
                for (var y = 0; y < (storingGrades.length / 4); y++) {
                    if (storingGrades[t * (x) + y] !== undefined) {
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        newTd.innerHTML = storingGrades[t * (x) + y];
                        newTd.style.border = "1px solid black";
                        newTd.style.backgroundColor = report.colorForGrades[storingGrades[t * (x) + y]];
                        // newTd.style.borderCollapse = "none";
                        var newTd = document.createElement("td");
                        newTd.style.border = "1px solid black";
                        newTr.appendChild(newTd);
                        newTd.innerHTML = report.definingGrade[storingGrades[t * (x) + y]];
                        newTd.style.border = "1px solid black";

                    }
                }
            }
            //for displaying grades and range (headings)
            for (var x = 0; x < ((storingGrades.length / 4) - 1); x++) {
                var newTh = document.createElement("th");
                var addingRow = document.getElementById("GradingScaleTable").getElementsByTagName("tr")[1];
                addingRow.appendChild(newTh);
                newTh.textContent = "Grade";
                newTh.style.border = "1px solid black";
                var newTh = document.createElement("th");
                addingRow.appendChild(newTh);
                newTh.textContent = "Range Of Marks";
                newTh.style.border = "1px solid black";
            }

        }
        else{
            document.getElementById("GradingScaleTable").style.display = "none";
        }
        newTh = document.getElementById("grading-sacle-heading");
        newTh.setAttribute("colspan", document.getElementById('GradingScaleTable').rows[1].cells.length);

    })();


    // abbrevations
    (function termAbbrevation(){
        if(report.note){
            var abbrevationTerms = Object.keys(report.note);
            for(var i=0; i<abbrevationTerms.length; i++){
                var newP = document.createElement("p");
                var addingP = document.getElementById("abbrevations").getElementsByTagName("b")[0];
                addingP.appendChild(newP);
                newP.textContent = abbrevationTerms[i] + ":" + report.note[abbrevationTerms[i]];
                newP.style.cssFloat = "left";
                newP.style.marginLeft = "15px";

            }
        }
        else{
            document.getElementById("abbrevations").style.display = "none";
        }
    })();



</script>
</body>

</html>
