<!doctype html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title> Report Card</title>
</head>
<body style="font-family: 'Cambria', sans-serif; width: 18cm; font-size: 11px">
<div id="forSchoolNameAndLogo" class="header">
    <img id="logo" alt="School logo" style="width: 18cm;height: auto;"/>
</div>
<div>
    <h2 id="Heading">ACADEMIC SESSION : 2019-20</h2>
</div>
<table style="width: 18cm; margin-bottom: 0px">
    <thead>
        <th style="width: 20%"></th>
        <th style="width: 40%"></th>
        <th style="width: 20%"></th>
        <th style="width: 20%"></th>
    </thead>
    <tbody>
    <tr>
        <td><b>Name:</b></td>
        <td><span id="nameOfStudent">Chota Bheem</span></td>
        <td><b>Class:</b></td>
        <td><span id="Class">X-A</span></td>
    </tr>
    <tr>
        <td><b>DOB:</b></td>
        <td><span id="DOB">00/00/0000</span></td>
        <td><b>Admission ID:</b></td>
        <td><span id="admission-Id">A10134</span></td>
    </tr>
    <tr id="attendance-row">
        <td><b>Attendance:</b></td>
        <td><span id="attendance">25/30</span></td>
    </tr>
    </tbody>
</table>
<div class="term-table">
    <table  id="markstable" class="term-table" style="width: 18cm; text-align: center; border: 1px solid black">
        <tr  id="ExamRow">
            <th rowspan="2" class="firstcolumnstyle" style="border: 1px solid black;text-align: left"><strong>SUBJECT</strong></th>
        </tr>
    </table>
</div>
<div class="valuesTable">
    <table id="valuesTable" class="valuesTable"
            style="width: 18cm;margin-top: 20px;text-align: center;border: 1px solid black; border-collapse: collapse;">
        <tbody>
        </tbody>
    </table>
</div>
<div id="ForAttributesTable"> </div>
<div id="remarks-block"
     style="width: 18cm ;display: block; border: 1px solid black; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 0px; margin-bottom: 10px;margin-top: 10px;">
    <h4 id="remark-header"
        style=" margin-top: 0px; margin-bottom: 0px; text-align: center; border-bottom: 1px solid black">
        CLASS TEACHERS REMARKS
    </h4>
    <p id="remarks" style="margin-top: 0px; padding-left: 3px;"><br></p>
</div>
<div style="margin-top: 80px;margin-bottom: 0x;">
    <table style="width: 18cm; ">
        <tbody>
        <tr>
            <th>
                <p style="padding-top: 10px; border-top:1px solid black; width: (18/3)cm;  ">Principal</p>
            </th>
            <th>
                <p style="padding-top: 10px; border-top:1px solid black;width: (18/3)cm;margin-left: 100px;" >Class Teacher</p>
            </th>
            <th>
                <p  style="padding-top: 10px; border-top:1px solid black;width: (18/3)cm;margin-left: 100px;" >Parent</p>
            </th>
        </tr>
        </tbody>
    </table>
</div>
<div style="margin-top: 20px; ">
    <table id="GradingScaleTable"  style="margin-top: 0px; width: 18cm; text-align:center;border-collapse: collapse">
        <tbody>
        <tr id="Marks_Range_Row">
            <th style="border:1px solid black;">Marks Range</th>
        </tr>
        <tr id="Grade_Row">
            <th style="border:1px solid black;">Grade</th>
        </tr>
        </tbody>
    </table>
</div>
<div id="abbrevations" style="margin-top: 20px">
    <pre style="font-weight: bold;font-family: 'Cambria', sans-serif;font-size: 11px;"></pre>
</div>
<script>
    var report ={{report}};

    if(report.showHeader===true){
        document.getElementById("logo").setAttribute("src", report.logoLink);
    }else{
        document.getElementById("logo").setAttribute("src", report.logoLink);
        document.getElementById("forSchoolNameAndLogo").style.opacity = 0;
        // document.getElementById("Header-line").style.opacity = 0;
    }
    document.getElementById("Heading").innerHTML = report.title;
    document.getElementById("Heading").style.textAlign = "center";
    document.getElementById("nameOfStudent").textContent = report.studentName.toUpperCase();
    document.getElementById("Class").textContent = report.standard ;
    if(report.attendance){
        document.getElementById("attendance").textContent = report.attendance;
    }
    else{
        document.getElementById("attendance").textContent = report.attendance;
        document.getElementById("attendance-row").style.display = 'none';
    }
    document.getElementById("admission-Id").textContent= report.admissionId;
    document.getElementById("DOB").textContent = report.dateOfBirth;


    (function creatingScholasticTable() {
        if(report.scholastic){
            // Creating and Adding Header
            var showExamNames= false;
            for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                if(report.scholastic.scholasticDetails.examDetails[i].examName){
                    var newTh = document.createElement("th");
                    var connectingHeader = document.getElementsByClassName("term-table")[1].getElementsByTagName("tr")[0];
                    connectingHeader.appendChild(newTh);
                    newTh.innerHTML= report.scholastic.scholasticDetails.examDetails[i].examName;
                    newTh.setAttribute("colspan", (Object.keys(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length));
                    newTh.style.border = "1px solid black";
                    showExamNames = true;
                    document.getElementsByClassName("firstcolumnstyle")[0].setAttribute("rowspan", 3);
                }
            }
            //for creating "Overall" Header
            if(showExamNames === true){
                var forCheckingOverall = Object.keys(report.scholastic.scholasticDetails);
                if(report.scholastic.scholasticDetails.overall){
                    var newTh = document.createElement("th");
                    var connectingHeader = document.getElementsByClassName("term-table")[1].getElementsByTagName("tr")[0];
                    connectingHeader.appendChild(newTh);
                    newTh.innerHTML= "Total";
                    newTh.style.border = "1px solid black";
                    newTh.setAttribute("colspan", 1 );
                    newTh.setAttribute("rowspan", 2);
                    if((report.scholastic.scholasticDetails.overall.showMarks) === true &&
                        (report.scholastic.scholasticDetails.overall.showGrade) === true ){
                        newTh.setAttribute("colspan", 2 );
                    }
                    else{
                        newTh.setAttribute("colspan", 1 );
                    }
                }
            }


            // Creating and Adding sub Header
            if(showExamNames===true){
                var newTr = document.createElement("tr");
                var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
                connectingRow.appendChild(newTr);
                for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                    var x = (Object.keys(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length);
                    var y=1;
                    for(var j=0; j<(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length; j++){
                        var newTh = document.createElement('th');
                        newTr.appendChild(newTh);
                        newTh.className = "term-table";
                        newTh.innerHTML= report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].shortForm ;
                        newTh.style.border = "1px solid black";
                        // Adding colspan for SubHeader
                        if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showGrade) === true &&
                            (report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showMarks) === true ){
                            newTh.setAttribute("colspan", 2 );
                            // manuplating colspan for Header
                            document.getElementById("ExamRow").getElementsByTagName("th")[i+1].setAttribute("colspan", x+y);
                            y++
                        }
                        else{
                            newTh.setAttribute("colspan", 1 );
                        }
                    }
                }
            }
            if(showExamNames===false){
                for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                    for(var j=0; j<(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length; j++){
                        var newTh = document.createElement('th');
                        var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tr")[0];
                        connectingRow.appendChild(newTh);
                        newTh.className = "term-table";
                        newTh.innerHTML= report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].shortForm ;
                        newTh.style.border = "1px solid black";
                        // Adding colspan for SubHeader
                        if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showGrade) === true &&
                            (report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showMarks) === true ){
                            newTh.setAttribute("colspan", 2 );
                        }
                        else{
                            newTh.setAttribute("colspan", 1 );
                        }
                    }
                }
            }
            if(showExamNames===false){
                var forCheckingOverall = Object.keys(report.scholastic.scholasticDetails);
                if(showExamNames === false){
                    if(report.scholastic.scholasticDetails.overall){
                        var newTh = document.createElement("th");
                        connectingRow.appendChild(newTh);
                        newTh.innerHTML= "Overall";
                        newTh.style.border = "1px solid black";
                        newTh.setAttribute("colspan", 1 );
                        newTh.setAttribute("rowspan", 1);
                        if((report.scholastic.scholasticDetails.overall.showMarks) === true &&
                            (report.scholastic.scholasticDetails.overall.showGrade) === true ){
                            newTh.setAttribute("colspan", 2 );
                        }
                        else{
                            newTh.setAttribute("colspan", 1 );
                        }
                    }
                }
            }

            // Displaying "Marks" and "Grades" in Scholastic Area
            var newTr = document.createElement("tr");
            var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
            connectingRow.appendChild(newTr);
            for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                for(var j=0; j<(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length; j++){
                    if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showMarks) === true){
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        newTd.textContent = "Marks";
                        newTd.style.border = "1px solid black";
                    }
                    if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showGrade) === true){
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        newTd.textContent = "Grade";
                        newTd.style.border = "1px solid black";
                    }
                }
            }

            // Displaying "marks" and "Grades in OverAll"
            if(report.scholastic.scholasticDetails.overall){
                if((report.scholastic.scholasticDetails.overall.showMarks) === true ){
                    var newTd = document.createElement("td");
                    newTr.appendChild(newTd);
                    newTd.textContent = "Marks";
                    newTd.style.border = "1px solid black";
                }
                if((report.scholastic.scholasticDetails.overall.showGrade) === true ){
                    var newTd = document.createElement("td");
                    newTr.appendChild(newTd);
                    newTd.textContent = "Grade";
                    newTd.style.border = "1px solid black";
                }
            }
            // displaying data for Scholastic Area
            for(var k=0; k<report.scholastic.subjectsArray.length; k++){
                var newTr = document.createElement("tr");
                var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
                connectingRow.appendChild(newTr);
                var newTh = document.createElement("th");
                newTr.appendChild(newTh);
                newTh.innerHTML = report.scholastic.subjectsArray[k];
                newTh.style.border = "1px solid black";
                newTh.style.textAlign = "left";
                for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                    for(var j=0; j<(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length; j++){
                        if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showMarks) === true){
                            var newTd = document.createElement("td");
                            newTr.appendChild(newTd);
                            if(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].marks[report.scholastic.subjectsArray[k]]){
                                newTd.textContent = report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].marks[report.scholastic.subjectsArray[k]];
                                newTd.style.border = "1px solid black";
                            }
                            else{
                                newTd.textContent = "Ab";
                                newTd.style.border = "1px solid black";
                                newTd.style.color = "red";
                            }
                        }
                        if((report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].showGrade) === true){
                            var newTd = document.createElement("td");
                            newTr.appendChild(newTd);
                            if(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].grade[report.scholastic.subjectsArray[k]]){
                                newTd.textContent = report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].grade[report.scholastic.subjectsArray[k]];
                                newTd.style.border = "1px solid black";
                            }
                            else{
                                newTd.textContent = "Ab";
                                newTd.style.border = "1px solid black";
                                newTd.style.color = "red";
                            }
                            if(report.colorForGrades){
                                newTd.style.backgroundColor = report.colorForGrades[report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].grade[report.scholastic.subjectsArray[k]]];
                            }
                        }
                    }
                }
                // Displaying data in overall
                if(report.scholastic.scholasticDetails.overall){
                    if((report.scholastic.scholasticDetails.overall.showMarks) === true ){
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        if(report.scholastic.scholasticDetails.overall.marks[report.scholastic.subjectsArray[k]]){
                            newTd.textContent = report.scholastic.scholasticDetails.overall.marks[report.scholastic.subjectsArray[k]];
                            newTd.style.border = "1px solid black";
                        }
                        else{
                            newTd.textContent = "Ab";
                            newTd.style.border = "1px solid black";
                            newTd.style.color = "red";
                        }
                    }
                    if((report.scholastic.scholasticDetails.overall.showGrade) === true ){
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        if(report.scholastic.scholasticDetails.overall.grade[report.scholastic.subjectsArray[k]]){
                            newTd.textContent = report.scholastic.scholasticDetails.overall.grade[report.scholastic.subjectsArray[k]];
                            newTd.style.border = "1px solid black";
                        }
                        else{
                            newTd.textContent = "Ab";
                            newTd.style.border = "1px solid black";
                            newTd.style.color = "red";
                        }
                        for(var i=0; i<report.scholastic.scholasticDetails.examDetails.length; i++){
                            for(var j=0; j<(report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails).length; j++){
                                if(report.colorForGrades){
                                    newTd.style.backgroundColor = report.colorForGrades[report.scholastic.scholasticDetails.examDetails[i].marksAndGradesDetails[j].grade[report.scholastic.subjectsArray[k]]];
                                }
                            }
                        }
                    }
                }
            }

            if(report.scholastic.scholasticDetails.overall){
                if(((report.scholastic.scholasticDetails.overall.showMarks) === true )
                    &&((report.scholastic.scholasticDetails.overall.showGrade) === true )=== true){
                    var newTr = document.createElement("tr");
                    var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
                    connectingRow.appendChild(newTr);
                    var newTh = document.createElement("th");
                    newTr.appendChild(newTh);
                    newTh.textContent = "Overall Marks: "+ report.scholastic.scholasticDetails.overall.overAllMarks;
                    newTh.setAttribute("colspan", document.getElementById('markstable').rows[3].cells.length/2);
                    var newTh = document.createElement("th");
                    newTr.appendChild(newTh);
                    newTh.textContent = "Overall Grade: "+ report.scholastic.scholasticDetails.overall.overAllGrade;
                    newTh.setAttribute("colspan", document.getElementById('markstable').rows[3].cells.length/2);

                }
                else{
                    if((report.scholastic.scholasticDetails.overall.showMarks) === true ){
                        var newTr = document.createElement("tr");
                        var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
                        connectingRow.appendChild(newTr);
                        var newTh = document.createElement("th");
                        newTr.appendChild(newTh);
                        newTh.textContent = "Overall Marks: "+ report.scholastic.scholasticDetails.overall.overAllMarks;
                        newTh.setAttribute("colspan", document.getElementById('markstable').rows[report.scholastic.subjectsArray.length].cells.length);
                    }
                    if((report.scholastic.scholasticDetails.overall.showGrade) === true ){
                        var newTr = document.createElement("tr");
                        var connectingRow = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
                        connectingRow.appendChild(newTr);
                        var newTh = document.createElement("th");
                        newTr.appendChild(newTh);
                        newTh.textContent = "Overall Grade: "+ report.scholastic.scholasticDetails.overall.overAllGrade;
                        newTh.setAttribute("colspan", document.getElementById('markstable').rows[report.scholastic.subjectsArray.length].cells.length);
                    }
                }
            }


            // creating Header saying "Scholastic Area"
            var newTr = document.createElement("tr");
            var addingTrBefore = document.getElementsByClassName("term-table")[1].getElementsByTagName("tbody")[0];
            addingTrBefore.insertBefore(newTr, addingTrBefore.getElementsByTagName("tr")[0]);
            var newTh = document.createElement("th");
            newTr.appendChild(newTh);
            newTh.textContent = "SCHOLASTIC";
            if(report.schoolPrimaryColor === "#ffffff") {
                newTh.style.color = "black";
            } else {
                newTh.style.color = "white";
            }
            newTh.style.backgroundColor = report.schoolPrimaryColor;

            if(showExamNames){
                newTh.setAttribute("colspan", document.getElementById('markstable').rows[report.scholastic.subjectsArray.length+3].cells.length);
            }
            if(showExamNames === false){
                newTh.setAttribute("colspan", document.getElementById('markstable').rows[report.scholastic.subjectsArray.length+2].cells.length);
            }

        }
        else{
            document.getElementById("markstable").style.display = "none";
        }
    })();

    // creating Non Scholastic table

    (function forNonScholastic(){
        if(report.nonScholastic){
            var nsTable = Object.keys(report.nonScholastic);
            var newTr = document.createElement("tr");
            var connectingRow = document.getElementsByClassName("valuesTable")[1].getElementsByTagName("tbody")[0];
            connectingRow.appendChild(newTr);
            var newTh = document.createElement("th");
            newTr.appendChild(newTh);
            newTh.textContent = "Subjects";
            newTh.style.border = "1px solid black";
            newTh.style.textAlign = "left";
            newTh.style.width = "10cm"
            for(var i=0; i<report.nonScholastic.nonScholasticDetails.length; i++){
                var newTh = document.createElement("th");
                newTr.appendChild(newTh);
                newTh.textContent = report.nonScholastic.nonScholasticDetails[i].columnName;
                newTh.style.border = "1px solid black";
            }
            for(var i=0; i<report.nonScholastic.subjectsArray.length; i++){
                var newTr = document.createElement("tr");
                var connectingRow = document.getElementsByClassName("valuesTable")[1].getElementsByTagName("tbody")[0];
                connectingRow.appendChild(newTr);
                var newTd = document.createElement("td");
                newTr.appendChild(newTd);
                newTd.textContent = report.nonScholastic.subjectsArray[i];
                newTd.style.border = "1px solid black";
                newTd.style.textAlign = "left";
                newTd.style.width = "10cm"
                for(var j=0; j<report.nonScholastic.nonScholasticDetails.length;j++){
                    var newTd = document.createElement("td");
                    newTr.appendChild(newTd);
                    if(report.nonScholastic.nonScholasticDetails[j].values[report.nonScholastic.subjectsArray[i]]){
                        newTd.textContent = report.nonScholastic.nonScholasticDetails[j].values[report.nonScholastic.subjectsArray[i]];
                        if(report.colorForGrades){
                            newTd.style.backgroundColor = report.colorForGrades[ report.nonScholastic.nonScholasticDetails[j].values[report.nonScholastic.subjectsArray[i]]]; //adding color for grades
                        }
                        newTd.style.border = "1px solid black";
                    }
                    else{
                        newTd.textContent = "Ab";
                        newTd.style.border = "1px solid black";
                        newTd.style.color = "red";
                    }
                }
            }
            var newTr = document.createElement("tr");
            var connectingHeadingRow = document.getElementsByClassName("valuesTable")[1].getElementsByTagName("tbody")[0];
            connectingHeadingRow.insertBefore(newTr, connectingHeadingRow.getElementsByTagName("tr")[0]);
            var newTh = document.createElement("th");
            newTr.appendChild(newTh);
            newTh.textContent = "NON SCHOLASTIC";
            if(report.schoolPrimaryColor === "#ffffff") {
                newTh.style.color = "black";
            } else {
                newTh.style.color = "white";
            }
            newTh.style.backgroundColor = report.schoolPrimaryColor;
            newTh.setAttribute("colspan", document.getElementsByClassName('valuesTable')[1].rows[1].cells.length);
        } else {
            document.getElementById("valuesTable").style.display = "none";
        }
    })();


    // creating Attributes table
    (function creatingAttributesTable(){
        if(report.attributes){
            for(var i=0; i<report.attributes.length; i++){
                var newTable = document.createElement("table");
                var addingTable = document.getElementById("ForAttributesTable");
                addingTable.appendChild(newTable);
                newTable.style.width = "18cm";
                newTable.style.border = "1px solid black";
                newTable.style.borderCollapse = "collapse";
                newTable.style.textAlign = "center";
                newTable.style.marginTop = "20px";
                var newTableBody = document.createElement("tbody");
                newTable.appendChild(newTableBody);
                var newTr = document.createElement("tr");
                newTableBody.appendChild(newTr);
                var newTh = document.createElement("th");
                newTr.appendChild(newTh);
                newTh.textContent = report.attributes[i].titleName;
                newTh.style.borderCollapse = "collapse";
                newTh.style.border = "1px solid black";
                newTh.style.textAlign = "left";
                newTh.style.width = "10cm";
                var attributeDetailsNull = true;
                if(report.attributes[i].attributeDetails){
                    for(var j =0; j<report.attributes[i].attributeDetails.length; j++){
                        var newTh = document.createElement("th");
                        newTr.appendChild(newTh);
                        newTh.textContent = report.attributes[i].attributeDetails[j].columnName;
                        newTh.style.borderCollapse = "collapse";
                        newTh.style.border = "1px solid black";
                        attributeDetailsNull = false;
                    }
                }


                // crearing body of the table

                for(var j=0; j<report.attributes[i].fieldArray.length; j++){
                    var newTr = document.createElement("tr");
                    var addingRow = document.getElementById("ForAttributesTable").getElementsByTagName("tbody")[i];
                    addingRow.appendChild(newTr);
                    newTr.style.height = "18px";
                    // checking for th or td
                    var showAsHeader = false;
                    if(report.attributes[i].boldColumnsArray){
                        for(var k=0; k<report.attributes[i].boldColumnsArray.length; k++){
                            if(report.attributes[i].fieldArray[j]===report.attributes[i].boldColumnsArray[k]){
                                showAsHeader = true;
                            }
                        }
                    }
                    if(showAsHeader){
                        var newTh = document.createElement("th");
                        newTr.appendChild(newTh);
                        newTh.textContent = report.attributes[i].fieldArray[j];
                        newTh.style.borderCollapse = "collapse";
                        newTh.style.border = "1px solid black";
                        newTh.style.textAlign = "left";
                        for(var m=0; m<report.attributes[i].attributeDetails.length; m++){
                            var newTh = document.createElement("th");
                            newTr.appendChild(newTh);
                            if(report.attributes[i].attributeDetails[m].values[report.attributes[i].fieldArray[j]] !== undefined){
                                newTh.textContent = report.attributes[i].attributeDetails[m].values[report.attributes[i].fieldArray[j]];
                                newTh.style.borderCollapse = "collapse";
                                newTh.style.border = "1px solid black";
                            }
                            else{
                                newTh.textContent = " ";
                                newTh.style.borderCollapse = "collapse";
                                newTh.style.border = "1px solid black";
                                newTh.style.color = "red";
                            }
                        }
                    }
                    else{
                        var newTd = document.createElement("td");
                        newTr.appendChild(newTd);
                        newTd.textContent = report.attributes[i].fieldArray[j];
                        newTd.style.height = "18px";
                        newTd.style.borderCollapse = "collapse";
                        newTd.style.border = "1px solid black";
                        newTd.style.textAlign = "left";
                        if(attributeDetailsNull === false){
                            for(var m=0; m<report.attributes[i].attributeDetails.length; m++){
                                var newTd = document.createElement("td");
                                newTr.appendChild(newTd);
                                if(report.attributes[i].attributeDetails[m].values[report.attributes[i].fieldArray[j]] !== undefined){
                                    newTd.textContent = report.attributes[i].attributeDetails[m].values[report.attributes[i].fieldArray[j]];
                                    newTd.style.borderCollapse = "collapse";
                                    newTd.style.border = "1px solid black";
                                }
                                else{
                                    newTd.textContent = " ";
                                    newTd.style.borderCollapse = "collapse";
                                    newTd.style.border = "1px solid black";
                                    newTd.style.color = "red";
                                }
                            }
                        }
                    }
                }
            }
        }
    })();


    // remarks
    if(report.remarks){
        document.getElementById("remarks").textContent = report.remarks;
        if(report.schoolPrimaryColor === "#ffffff") {
            document.getElementById("remark-header").style.color = "black";
        } else {
            document.getElementById("remark-header").style.color = "white";
        }
        document.getElementById("remark-header").style.backgroundColor = report.schoolPrimaryColor;
    }
    else{
        document.getElementById("remarks-block").style.display = "none";
    }

    // grade table


    (function gradeTable(){
        if(report.definingGrade){
            var grades = Object.keys(report.definingGrade);
            for(var i=0; i<grades.length; i++){
                var newTd = document.createElement("td");
                var connectTd = document.getElementById("Grade_Row");
                connectTd.appendChild(newTd);
                newTd.textContent = grades[i];
                newTd.style.border = "1px solid black";
                if(report.colorForGrades){
                    newTd.style.backgroundColor = report.colorForGrades[grades[i]];
                }
            }
            for(var i=0; i<grades.length; i++){
                var newTd = document.createElement("td");
                var connectTd = document.getElementById("Marks_Range_Row");
                connectTd.appendChild(newTd);
                newTd.textContent = report.definingGrade[grades[i]];
                newTd.style.border = "1px solid black";
            }
        }
        else{
            document.getElementById("GradingScaleTable").style.display = "none";
        }
    })();


    // abbrevations
    if(report.note){
        document.getElementById("abbrevations").getElementsByTagName("pre")[0].innerHTML = report.note;
    }
    else{
        document.getElementById("abbrevations").style.display = "none";
    }
</script>
</body>
<style>
    /* latin */
    @font-face {
        font-family: 'Cambria';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: local('Cambria Italic'), local('Cambria-Italic'), url(https://fonts.gstatic.com/l/font?kit=GFDoWAB9jnWLT-HIK7c7rJJdGg4xUQ&skey=6830e38320d5ad43&v=v10) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* latin */
    @font-face {
        font-family: 'Cambria';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: local('Cambria Bold Italic'), local('Cambria-BoldItalic'), url(https://fonts.gstatic.com/l/font?kit=GFDtWAB9jnWLT-HIK7czF7dINyw8e2IDbg&skey=5d78cb5d3a5cdf77&v=v10) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* latin */
    @font-face {
        font-family: 'Cambria';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('Cambria'), url(https://fonts.gstatic.com/l/font?kit=GFDqWAB9jnWLT-HIK7ILrphaOAw&skey=d4699178559bc4b0&v=v10) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* latin */
    @font-face {
        font-family: 'Cambria';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: local('Cambria Bold'), local('Cambria-Bold'), url(https://fonts.gstatic.com/l/font?kit=GFDvWAB9jnWLT-HIIwkuu7V4NSY7WWA&skey=5202a3b6f5388b49&v=v10) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
</style>
</html>
