<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.leave.application.title}">OTP - Witcurve Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.leave.application.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.leave.application.text1(${user.otp})}">
    Your JHipster account has been created, please click on the URL below to access it:
</p>
<p th:text="#{email.leave.application.text2}">
    This OTP will expire soon!
</p>
<p>
    <span th:text="#{email.leave.application.text3}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Witcurve Team.</em>
</p>
</body>
</html>
