<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.subscription.transaction.title}">Subscription Transaction | Witcurve</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.subscription.transaction.greeting(${studentName})}">
    Dear
</p>
<p th:text="#{email.subscription.transaction.text1(${subscriptionEndDate})}">

</p>
<p>
    <span th:text="#{email.subscription.transaction.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Witcurve Team.</em>
</p>
</body>
</html>
